.featured {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;


  &-item {
    position: relative;
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 330px;
    height: 240px;
    &-img {
      width: 100%;
      object-fit: cover;
    }

    &-titles{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0, 0, 0, 0));
    }

  }
}
