.fp{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    &Item{
        flex: 1;
        gap: 10px;
        display: flex;
        flex-direction: column;
        &Img{
            width: 100%;
        }
        &Name{
            font-weight: bold;
        }
        &City{
            font-weight: 300;
        }
        &Price{
            font-weight: 500;
        }
        &Rating>span{
            font-size: 14px;
        }
        &Rating>button{
            background: #003580;
            color: #fff;
            border: none;
            padding: 3px;
            margin-right: 10px;
            font-weight: bold;
            border-radius: 4px;
        }

    }
}